In [5]:
fruits = ['apple','mango','grapes']

for x in fruits:
    for y in x:
        print(y,end='*')
    print()

a*p*p*l*e*
m*a*n*g*o*
g*r*a*p*e*s*

In [1]:
#write a programm for first five natural numbers
sum =0
for i in range(1,6):
    sum+=i
print(sum)

15

In [2]:
#print count how many even numbers
e_count=0
o_count=0
for x in range(1,11):
    if x%2==0:
        e_count+=1
    else:
        o_count+=1
print(e_count)
print(o_count)

5
5

In [3]:
#get numbers between 8 and 15
a=int(input('enter a'))
b=int(input('enter b'))

for x in range(a+1,b):
    print(x)

enter a8
enter b15
9
10
11
12
13
14

In [19]:
for i in range(1,6):     #when repeat duplicate values i print
    for j in range(i,6):
        print(i,end='')
    print()

11111
2222
333
44
5

In [22]:
for i in range(1,6):     
    for j in range(i,6):
        print('*',end='')
    print()

*****
****
***
**
*

In [2]:
for i in range(1,6):     
    for j in range(i,6):
        print(j,end='')
    print()

12345
2345
345
45
5

In [3]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end='')
    print()

55555
4444
333
22
1

In [1]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

55555
4444
333
22
1

In [2]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

12345
1234
123
12
1

In [4]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

In [ ]:
############################################################################################################################
#############################################################################################################################

In [8]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [4]:

for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [5]:
a='python'

for i in range(len(a)):
    for j in range(i+1):  
        print(a[j],end='')
    print()

p
py
pyt
pyth
pytho
python