In [2]:
a='     string good     '     #strip - it removes trailing spaces
print(a.strip())

c='appl '
print(c.strip('l'))         #it also removes character compares string with givin characters 
                            #after matching with character it stops

z=' #xuv alto#'
print(z.strip('#'))

d= 'Hello world'
print(d.strip('ldoh'))

e='Hello World'
print(e.strip('ldoH'))


b='        akash data    '    #rstrip- it removes right empty spaces 
print(b.rstrip())             #lstrip-it removes left empty spaces

string good
appl
 #xuv alto
Hello wor
ello Wor
        akash data

In [21]:
a='I like apple '                                 #replace 
print(a.replace('apple','mango'))                 #.string(old,new,count)
print(a)


print(a.replace(' ','!',2))

I like mango
I like apple
I!like!apple

In [19]:
a='pyhton is good'               #index finds the occurence of the substring
print(a.index('p',1,5))

ValueError: substring not found

In [6]:
a='akash is good boy'                   #split()
print(a.split())

b='akash %is good %boy'
print(b.split('%'))

a='akash# is# good# boy'              #split-it splits into a list
print(a.split('#',maxsplit=2))

a='akash# is# good# boy'
print(a.split('#',maxsplit=1))

['akash', 'is', 'good', 'boy']
['akash ', 'is good ', 'boy']
['akash', ' is', ' good# boy']
['akash', ' is# good# boy']

In [17]:
a= ['h','e','l','l','o']         #join used to join elements of an iterable
b='@'.join(a)                    #syntax: separator.join(iterable)
print(b)



c=['h','e','l','l','o']  
d=' '.join(c)
print(d)


e= {'Name':'akash','Year':'2000'}
f=' and '.join(e)
print(f)

h@e@l@l@o
h e l l o
Name and Year

In [9]:
a= 'HELLO WORLD'                      #lower
print(a.lower())

b='hello world'                       #upper
print(b.upper())


c='hello world'                      #capitalize 
print(c.capitalize())

hello world
HELLO WORLD
Hello world

In [ ]:
##########################################################################################################################
###########################################################################################################################

In [20]:
#string format str.format()
name =  'akash'
city ='chennai'
print('my name is {} and from {}'.format(name,city))




#string format indexing
name =  'akash'
city ='chennai'
print('my name is {1} and from {0}'.format(name,city))



##string format keywords
n =  'akash'
c ='chennai'
print('my name is {name} and from {city}'.format(name=n,city=c))



##string format f strings
name =  'akash'
city ='chennai'
print(f'my name is {name} and from {city}')

my name is akash and from chennai
my name is chennai and from akash
my name is akash and from chennai
my name is akash and from chennai

In [1]:
a='akash'
b=2000
c='my name is {} and im {}yaer'

print(c.format(a,b))

my name is akash and im 2000yaer

In [ ]:
if we put double curly braces it shows as it is

In [8]:
a='akash'
b=7.6
print('my name is %s %d'% (a,b))

my name is akash 7